<!--@subject {{trans "Your %form_name submission has been received" form_name=$form_name}} @-->
<!--@vars {
"var form_name":"Form Name",
"var customer_email":"Customer email",
"var submitted_data_table":"Form Submission Data - Table Display",
"var quote_items_table":"Quote Items - Table Display"
} @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr>
        <td>
            <p>{{trans "Your %form_name submission has been received." form_name=$form_name}}</p>
            <p>{{trans "Below is a copy of your submitted information for you records."}}</p>
            <h3>{{trans "Submitted Data"}}</h3>
            {{var submitted_data_table|raw}}
            {{depend quote_items_table}}
                <h3>{{trans "Quote Items"}}</h3>
                {{var quote_items_table|raw}}
            {{/depend}}
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
