<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="happymachines_customforms_form_submission_after">
        <observer name="happymachines_customforms_send_new_submission_email" instance="HappyMachines\CustomForms\Observer\Frontend\SendNewSubmissionEmail" />
    </event>
</config>
